# Xcode関連
*.xcuserdatad
*.xcscmblueprint
*.xccheckout
*.idea
*.xcworkspace
DerivedData/
build/

# macOS関連
.DS_Store

# CocoaPods関連
Pods/
Podfile.lock

# Firebase設定ファイル
GoogleService-Info.plist

# Firebase CLI
.firebase/
firebase-debug.log

# キャッシュ関連
*.cache
*.tmp

# その他
*.log
